<!doctype html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Rakendus</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <p>Hello, {{ request.user.username | title }}! <br/> Last logged in
            at {{ request.user.last_login | date:"d.m.Y" }}</p>
    {% else %}
        <p>Hello, guest!</p>
    {% endif %}
    <nav>
        <a href="{% url 'books' %}">Books</a>
        <a href="{% url 'authors' %}">Authors</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>